.venv/
venv/
.git/
.idea/
.vscode/
.mypy_cache/
.ruff_cache/
.pytest_cache/
allure-results/
allure-report/
__pycache__/
*.py[cod]
.env
.env.*
!.env.example
ci/runner/config/
.DS_Store
*.md
!README.md
